@model FT.MvcApp.FairyTales.Models.SingleViewModel

@{
    ViewBag.Title = Model.Title;

    var fairyTale = Model.FairyTale;
}


<header>
    <h1>@fairyTale.Title</h1>

    @Html.Partial("Tags", fairyTale.Tags)

    <p>@Model.Description</p>
</header>

<article>
    <header>
        <h2>@fairyTale.Title читать:</h2>
    </header>

    @if (fairyTale.Children.Count > 0) {
        <ul>
            @foreach (var ft in fairyTale.Children) {
                <li>@Html.ActionLink(ft.Title, "Single", new {id = ft.Id})</li>
            }
        </ul>
    }
    else {
        @Html.Raw(fairyTale.Text)
    }
</article>