@model FT.MvcApp.FairyTales.Models.SingleViewModel

@{
    ViewBag.Title = Model.Title;

    var fairyTale = Model.FairyTale;
}


<header>
    <h1>@fairyTale.Title</h1>
    <p>@Model.Description</p>
</header>

<article>
    <header>
        <h2>@fairyTale.Title читать:</h2>
        <p>@Html.Partial("Tags", fairyTale.Tags)</p>
    </header>

    @Html.Raw(fairyTale.Text)
</article>