@model FT.MvcApp.FairyTales.Models.SingleViewModel

@{
    ViewBag.Title = Model.Title;

    var fairyTale = Model.FairyTale;
}

<header>
    <h1>@fairyTale.Title</h1>

    @Html.Partial("Tags", fairyTale.Tags)

    <p>@Model.Description</p>
</header>

<article>
    <header>
        <h2>@fairyTale.Title читать:</h2>
    </header>

    @if (fairyTale.IsBook) {
        @Html.Partial("Book", fairyTale)
    }
    else {
        @Html.Raw(fairyTale.Text)
    }

    @if (fairyTale.HasNavigation) {
        @Html.Partial("Navigation", fairyTale)
    }
</article>