<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/reset.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/pager.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/site.css")" />
</head>
<body>

<header class="clearfix">
    <a href="@Url.Action("Index", "Home")" class="logo">
        <img src="@Url.Content("~/Content/images/logo.gif")" width="163" height="40" alt="logo">
    </a>

    @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "search" })) {
        <input type="text" name="term" class="search_text" placeholder="Поиск по сайту.." />
        <input type="submit" class="search_submit" value="Искать"/>
    }
</header>

<div class="container">
    @RenderBody()

    @Html.Partial("YandexMetrika")
</div>

    <footer>
        © vskazki.ru 2011-@DateTime.Now.Year
    </footer>

</body>
</html>