@model LayoutViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
    @if (Model.DisallowIndex)
    {
        <meta name="robots" content="noindex,follow">
    }
    @if (Model.HasDescription)
    {
        <meta content="@Model.Description" name="description"/>
    }
    @if (Model.HasCanonical)
    {
        <link rel="canonical" href="@Model.CanonicalUrl" />
    }
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon">
    @Styles.Render("~/content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

<header class="clearfix">
    <a href="/" class="logo" title="На главную страницу">
        <img src="@Url.Content("~/Content/images/logo.gif")" width="163" height="40" alt="logo">
    </a>

    @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "search" })) {
        <input type="text" name="term" class="search_text" placeholder="Поиск по сайту.." />
        <input type="submit" class="search_submit" value="Искать" />
    }
</header>

<nav class="clearfix">
    <ul class="top_menu clearfix">
        <li>@Html.ActionLink("список тегов", "Index", "Tags")</li>
    </ul>
</nav>

<div class="container">
    @RenderBody()

    @if (Model.IncludeMetrics) {
        @Html.Partial("Metrics")
    }
</div>

<footer>
    <nav class="clearfix">
        <ul class="footer_list">
            <li>
                <span>Сайт</span>
            </li>
            <li>
                <a href="#">О проекте</a>
            </li>
            <li>
                <a href="mailto:webmaster@vskazki.ru" target="_blank">Приглашаем авторов</a>
            </li>
            <li>
                <a href="mailto:webmaster@vskazki.ru" target="_blank">Контакты</a>
            </li>
            <li>
                <a href="/sitemap.xml" target="_blank">Карта сайта</a>
            </li>
        </ul>

        <ul class="footer_list">
            <li>
                <span>Навигация</span>
            </li>
            <li>
                @Html.ActionLink("Главная страница", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Список категорий", "Index", "Tags")
            </li>
        </ul>

        <ul class="footer_list">
            <li>
                <span>ВСказки в соцсетях</span>
            </li>
            <li>
                <a href="https://vk.com/public143661798"
                   class="group vkontakte"
                   title="Мы ВКонтакте"
                   target="_blank"
                   rel="nofollow">
                    <i class="fa fa-vk"></i>
                </a>

                <a href="https://ok.ru/group/55357696049182"
                   class="group ok"
                   title="Мы в Одноклассниках"
                   target="_blank"
                   rel="nofollow">
                    <i class="fa fa-odnoklassniki"></i>
                </a>

                <a href="https://www.facebook.com/vskazkiru"
                   class="group facebook"
                   title="Мы в Facebook"
                   target="_blank"
                   rel="nofollow">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="https://twitter.com/vskazki_"
                   class="group twitter"
                   title="Мы в Twitter"
                   target="_blank"
                   rel="nofollow">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
        </ul>
    </nav>
</footer>
    
</body>
</html>