@using System.Web.Optimization
@model LayoutViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
    @if (Model.HasDescription)
    {
        <meta content="@Model.Description" name="description"/>
    }
    @if (Model.HasCanonical)
    {
        <link rel="canonical" href="@Model.CanonicalUrl" />
    }
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon">
    @Styles.Render("~/content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

<header class="clearfix">
    <a href="/" class="logo" title="На главную страницу">
        <img src="@Url.Content("~/Content/images/logo.gif")" width="163" height="40" alt="logo">
    </a>

    @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "search" })) {
        <input type="text" name="term" class="search_text" placeholder="Поиск по сайту.." />
        <input type="submit" class="search_submit" value="Искать" />
    }
</header>

<nav class="clearfix">
    <ul class="top_menu clearfix">
        <li>@Html.ActionLink("список тегов", "Index", "Tags")</li>
    </ul>
</nav>

<div class="container">
    @RenderBody()

    @if (Model.IncludeMetrics) {
        @Html.Partial("Metrics")
    }
</div>

<footer>
    <nav class="clearfix">
        <dl>
            <dt>Разделы</dt>
            <dd>@Html.ActionLink("Список тегов", "Index", "Tags")</dd>
        </dl>
    </nav>
</footer>
    
</body>
</html>