@model FT.MvcApp.Home.Models.SearchViewModel

@{
    ViewBag.Title = Model.Title;
}

<h1>Поиск</h1>

<div>Найдено @Model.TotalCount по запросу % @Model.Term %</div>

@foreach (var ft in Model.FoundFairyTales)
{
    @Html.Partial("FairyTale", ft)
}

<div>Текущая страница: @Model.CurrentPage из @Model.TotalPages</div>

@Html.ActionLink("1", "Search", new {  term = Model.Term, page = Model.CurrentPage })